@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Poppins:wght@300;400;600&display=swap');

body {
  font-family: 'Lora', serif;
  color: #37474f;
  background-color: #f4f4f9;
}
